<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OptionButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,532},{103,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,45}}</string>
                <key>sourceSize</key>
                <string>{103,45}</string>
            </dict>
            <key>OptionButtonFrame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,346},{184,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{184,61}}</string>
                <key>sourceSize</key>
                <string>{184,69}</string>
            </dict>
            <key>PROIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,883},{94,100}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{94,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>PlayButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,650},{244,244}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{244,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,883},{117,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,140}}</string>
                <key>sourceSize</key>
                <string>{117,140}</string>
            </dict>
            <key>bDruid.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,730},{70,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{70,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bHunter.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,658},{70,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{70,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bMage.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,586},{70,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{70,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bNeutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,514},{70,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{70,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bPaladin.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,896},{70,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{70,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bPrest.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,896},{70,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{70,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bRogue.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,896},{70,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{70,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bShaman.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,883},{70,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{70,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bWarlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,896},{70,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{70,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bWarrior.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,896},{70,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{70,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{252,68}}</string>
                <key>offset</key>
                <string>{1,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{252,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>barShade.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,584},{248,64}}</string>
                <key>offset</key>
                <string>{-4,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{248,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,637},{244,44}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,70},{244,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cBarShade.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,985},{222,28}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,79},{222,28}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,883},{122,122}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>m_epic.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,260},{84,62}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,387},{84,62}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_legend.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,174},{84,62}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,387},{84,62}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_mage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,670}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{484,670}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,88},{84,62}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,387},{84,62}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_race.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,400},{260,56}}</string>
                <key>offset</key>
                <string>{8,-254}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,594},{260,56}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_rare.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{84,62}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,387},{84,62}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,400},{412,112}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,332},{412,112}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>mana.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{130,156}}</string>
                <key>offset</key>
                <string>{-188,262}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,28},{130,156}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>minionPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{242,68}}</string>
                <key>offset</key>
                <string>{7,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{242,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spellPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,586},{252,68}}</string>
                <key>offset</key>
                <string>{1,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{252,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>waterMarkBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{470,396}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{470,396}}</string>
                <key>sourceSize</key>
                <string>{494,414}</string>
            </dict>
            <key>weaponPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,514},{248,68}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{248,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>first.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86b6700b1f0dded3da4dd03a484c027b$</string>
            <key>textureFileName</key>
            <string>first.png</string>
        </dict>
    </dict>
</plist>
