<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1703},{234,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,279}}</string>
                <key>sourceSize</key>
                <string>{234,279}</string>
            </dict>
            <key>attackButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,365},{124,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,117}}</string>
                <key>sourceSize</key>
                <string>{124,117}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,2},{139,172}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{139,172}}</string>
                <key>sourceSize</key>
                <string>{147,172}</string>
            </dict>
            <key>lifeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,275},{88,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,125}}</string>
                <key>sourceSize</key>
                <string>{88,125}</string>
            </dict>
            <key>m_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,531},{84,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{84,61}</string>
            </dict>
            <key>m_dragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,1687},{356,242}}</string>
                <key>offset</key>
                <string>{55,244}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,3},{356,242}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_druid.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1031},{484,670}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{484,670}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_epic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,467},{84,62}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,387},{84,62}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_hunter.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1031},{484,670}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{484,670}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_legend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,403},{84,62}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,387},{84,62}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_mage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,488},{484,670}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{484,670}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,488},{484,670}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{484,670}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,339},{84,62}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,387},{84,62}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_paladin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{484,670}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{484,670}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_priest.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{484,670}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{484,670}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_race.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,769},{260,64}}</string>
                <key>offset</key>
                <string>{8,-250}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,586},{260,64}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_rare.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,275},{84,62}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,387},{84,62}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,601},{412,112}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,332},{412,112}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_rouge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{484,670}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{484,670}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_shaman.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{484,670}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{484,670}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_stencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1703},{312,458}}</string>
                <key>offset</key>
                <string>{-25,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,45},{312,458}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_warlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,670}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{484,670}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>m_warrior.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,1015},{482,670}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{482,670}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>mana.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,143},{130,156}}</string>
                <key>offset</key>
                <string>{-188,262}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,28},{130,156}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>manaButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,484},{119,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,115}}</string>
                <key>sourceSize</key>
                <string>{119,115}</string>
            </dict>
            <key>s_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1984},{108,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,62}}</string>
                <key>sourceSize</key>
                <string>{108,62}</string>
            </dict>
            <key>wAttackButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1703},{109,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,105}}</string>
                <key>sourceSize</key>
                <string>{109,105}</string>
            </dict>
            <key>wDurationButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,659},{98,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,108}}</string>
                <key>sourceSize</key>
                <string>{98,108}</string>
            </dict>
            <key>w_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,594},{78,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,63}}</string>
                <key>sourceSize</key>
                <string>{78,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minion.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d66c49de66ec44f28fa7495b49960665$</string>
            <key>textureFileName</key>
            <string>minion.png</string>
        </dict>
    </dict>
</plist>
