<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_DK.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,336}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{246,336}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_awesome.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,222},{42,32}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,193},{42,32}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_druid.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,340},{242,336}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{242,336}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_epic.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,178},{42,32}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,193},{42,32}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_hunter.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,678},{242,336}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{242,336}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_legend.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,134},{42,32}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,193},{42,32}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_mage.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{242,336}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{242,336}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_monk.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,678},{240,330}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{240,330}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,340},{242,336}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{242,336}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,90},{42,32}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,193},{42,32}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_paladin.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,678},{242,336}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{242,336}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_priest.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{242,336}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{242,336}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_rare.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,46},{42,32}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,193},{42,32}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_rouge.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,340},{242,336}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{242,336}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_shaman.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{242,336}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{242,336}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_splendid.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{42,32}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,193},{42,32}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_warlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{242,336}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{242,336}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>m_warrior.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{242,336}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{242,336}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minion.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63a885a75ec07909ffbf7d9a0b202275$</string>
            <key>textureFileName</key>
            <string>minion.png</string>
        </dict>
    </dict>
</plist>
