<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_DK.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,662},{218,304}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{218,304}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_awesome.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,920},{58,34}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,196},{58,34}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_druid.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,528},{218,304}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{218,304}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_epic.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,920},{58,34}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,196},{58,34}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_hunter.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,442},{218,304}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{218,304}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_legend.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,980},{58,34}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,196},{58,34}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_mage.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,222},{218,304}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{218,304}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_monk.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,222},{218,304}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,30},{218,304}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,528},{218,304}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{218,304}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,920},{58,34}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,196},{58,34}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_paladin.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,222},{218,304}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{218,304}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_priest.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{218,304}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{218,304}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_rare.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{58,34}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,196},{58,34}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_rouge.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{218,304}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{218,304}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_shaman.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{218,304}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{218,304}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_splendid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{58,34}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,196},{58,34}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_warlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{218,304}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{218,304}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
            <key>s_warrior.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,304}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{218,304}}</string>
                <key>sourceSize</key>
                <string>{280,368}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spell.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00aa503d63ff25d1ebb785eda9d60ecb$</string>
            <key>textureFileName</key>
            <string>spell.png</string>
        </dict>
    </dict>
</plist>
