<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OptionBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{574,320}}</string>
                <key>offset</key>
                <string>{-5,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,345},{574,320}}</string>
                <key>sourceSize</key>
                <string>{630,1120}</string>
            </dict>
            <key>OptionButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1956},{144,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,61}}</string>
                <key>sourceSize</key>
                <string>{144,61}</string>
            </dict>
            <key>OptionButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2008},{110,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,37}}</string>
                <key>sourceSize</key>
                <string>{110,37}</string>
            </dict>
            <key>OptionButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1056},{103,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,45}}</string>
                <key>sourceSize</key>
                <string>{103,45}</string>
            </dict>
            <key>OptionButtonFrame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1972},{184,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{184,61}}</string>
                <key>sourceSize</key>
                <string>{184,69}</string>
            </dict>
            <key>PlayButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1726},{244,244}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{244,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>WaterMarkButtonFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1103},{128,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,52}}</string>
                <key>sourceSize</key>
                <string>{128,52}</string>
            </dict>
            <key>armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1106},{134,160}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,160}}</string>
                <key>sourceSize</key>
                <string>{142,160}</string>
            </dict>
            <key>bDruid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1018},{186,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{186,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bHunter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,610},{186,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{186,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bMage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,814},{186,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{186,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bNeutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1396},{186,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,27},{186,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bPaladin.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1192},{186,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{186,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bPrest.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,610},{186,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{186,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bRogue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{186,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{186,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bShaman.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{186,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{186,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bWarlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,988},{186,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{186,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bWarrior.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,988},{186,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{186,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cardArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1620},{132,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,103}}</string>
                <key>sourceSize</key>
                <string>{134,107}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1093},{122,122}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>comboButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1056},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>setButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1972},{74,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,52}}</string>
                <key>sourceSize</key>
                <string>{74,52}</string>
            </dict>
            <key>titleLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{90,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,280}}</string>
                <key>sourceSize</key>
                <string>{90,280}</string>
            </dict>
            <key>w_druid_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,380},{376,228}}</string>
                <key>offset</key>
                <string>{2,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,417},{376,228}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>w_epic.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1956},{90,76}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,375},{90,76}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>w_hunter_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,610},{376,228}}</string>
                <key>offset</key>
                <string>{2,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,417},{376,228}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>w_legend.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1972},{90,74}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,376},{90,74}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>w_mage_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{376,228}}</string>
                <key>offset</key>
                <string>{2,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,417},{376,228}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>w_neutral_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,380},{376,228}}</string>
                <key>offset</key>
                <string>{2,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,417},{376,228}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>w_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1956},{90,76}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,375},{90,76}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>w_paladin_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{376,228}}</string>
                <key>offset</key>
                <string>{2,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,417},{376,228}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>w_priest_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1595},{376,228}}</string>
                <key>offset</key>
                <string>{2,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,417},{376,228}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>w_rare.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1956},{90,76}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,375},{90,76}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>w_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,678},{426,92}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,337},{426,92}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>w_rouge_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1217},{376,228}}</string>
                <key>offset</key>
                <string>{2,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,417},{376,228}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>w_shaman_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1242},{376,228}}</string>
                <key>offset</key>
                <string>{2,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,417},{376,228}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>w_warlock_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,678},{376,228}}</string>
                <key>offset</key>
                <string>{2,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,417},{376,228}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>w_warrior_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1726},{376,228}}</string>
                <key>offset</key>
                <string>{2,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,417},{376,228}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
            <key>waterMarkBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{470,396}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{470,396}}</string>
                <key>sourceSize</key>
                <string>{494,414}</string>
            </dict>
            <key>weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,674}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,38},{494,674}}</string>
                <key>sourceSize</key>
                <string>{560,736}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22084cb8e2b1cf25bd57689e3dd5796c$</string>
            <key>textureFileName</key>
            <string>w.png</string>
        </dict>
    </dict>
</plist>
